<section class="product__container">
  <div class="product-image__container">
    <img [src]="produto?.imagem" alt="">
  </div>
  <div class="product-description__container">
    <h2 class="product__name">{{produto?.descricao}}</h2>
    <h3 class="product__price">{{produto?.preco | formatarMoeda}}</h3>
    <div *ngIf="produto && produto.quantidadeEstoque !== undefined && produto.quantidadeEstoque > 0">
      <p>Estoque disponível:</p>
      <label>
        Quantidade:
        <input type="number" min="1" [(ngModel)]="quantidade">
        <span *ngIf="quantidade > 1" class="product__avaiability">
          quantidades
        </span>
        <span *ngIf="quantidade === 1" class="product__avaiability">
          quantidade
        </span>
      </label>
      <p class="product__avaiability">
        {{
          produto.quantidadeEstoque === 1 ? '1 unidade em estoque'
          : produto.quantidadeEstoque + ' unidades em estoque'
        }}
      </p>
      <button (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
    </div>
    <div *ngIf="produto && produto.quantidadeEstoque !== undefined && produto.quantidadeEstoque === 0">
      <p class="product__unavaiability">
        Estoque indisponível
      </p>
    </div>
  </div>
</section>
